{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-4">
      <div class="touch">
        <div class="card">
          <br>
          <h5 class="text-center">About me</h5>
          <img src= "https://i.pinimg.com/originals/f4/a5/0e/f4a50ea3eb3c5b51e40cac27795dc1b8.jpg">
          </div>
        </div>
      </div>
      <div class="col-md-8">
         <div class="touch">
           <div class="card text-left">
             <div class="card-body">
               <h5 class="text-center">ข้อมูลส่วนตัว</h5>
               <p>ชื่อ : นาย ธนพัฒน์ เอี่ยมประเสริฐ</p>
               <p>รหัสนิสิต : 62102010169</p>
               <p>เบอร์โทร : 0957486780</p>
               
               <a href="https://github.com/BankTHP"><i class="fab fa-github-square fa-6x"></i></a>
               <a href="https://www.instagram.com/bankkthp/"><i class="fab fa-instagram fa-6x"></i></a>
               <a href="https://open.spotify.com/user/sh9mx8hcr17cesshsmnce93rw?si=4ZJG27vYRXihUbCAacqfuQ/"><i class="fab fa-spotify fa-6x"></i></a>
           </div>
         </div>
       </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}