{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-4">
      <div class="touch">
        <div class="card">
          <br>
          <h5 class="text-center">About me</h5>
          <img src= "https://scontent.fbkk13-2.fna.fbcdn.net/v/t1.0-9/117145936_3101119206601755_2507546724281197540_n.jpg?_nc_cat=106&ccb=2&_nc_sid=730e14&_nc_eui2=AeGtqN8o7M_KIsD_v86K8SWt58XhcfLM0y3nxeFx8szTLXzGm6edGRTlYCuOJGblIx6xLldedr_L8nTTFZWe4w3X&_nc_ohc=eNkHnY2X6BkAX-baZ-7&_nc_ht=scontent.fbkk13-2.fna&oh=ac5c200075cbe0075fe0a9eda761ace3&oe=603C89CD">
          </div>
        </div>
      </div>
      <div class="col-md-8">
         <div class="touch">
           <div class="card text-left">
             <div class="card-body">
               <h5 class="text-center">ข้อมูลส่วนตัว</h5>
               <p>ชื่อ : นางสาว กฤติยา สุขทองหลาง </p>
               <p>รหัสนิสิต : 62102010160</p>
               <p>เบอร์โทร : 0868204433</p>
               
               <a href="https://github.com/kimsooky"><i class="fab fa-github-square fa-6x"></i></a>
               <a href="https://www.instagram.com/?hl=en"><i class="fab fa-instagram fa-6x"></i></a>
               
           </div>
         </div>
       </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}